<!-- This is the configuration for CLARIN harvesting. -->
<config>

  <!-- ### configuration settings ### -->
  <settings>
    <!-- Working directory. -->
    <workdir>/var/harvester</workdir>

    <!-- Maximum number of attempts per record before giving up. -->
    <max-retry-count>2</max-retry-count>

    <!-- Delay between retries of a record (milliseconds). -->
    <retry-delay>10000</retry-delay>

    <!-- Maximum number of concurrent harvester threads -->
    <max-jobs>4</max-jobs>

    <!-- Number of resources placed in the resource pool. -->
    <resource-pool-size>4</resource-pool-size>

    <!-- Default timeout (for connection and reading) for a single
    http request in seconds. If unspecified, will be INFINITE.  -->
    <timeout>60</timeout>
    <scenario>ListRecords</scenario>
  </settings>

  <!-- ### output directories (referenced in the action section) ### -->
  <directories>
    <!-- When the attribute 'max-files' is non-zero, subdirectories
         will be created to ensure no directory has more than that
         number of files. -->
    <dir path="oai" id="oai" max-files="0"/>
    <dir path="rec" id="rec" max-files="0"/>
  </directories>


  <!-- ### actions to take on metadata formats (in order of preference) ### -->

  <actions>
    <!--<format match="namespace" value="http://www.isebel.eu/ns/isebel/">-->
      <!--<action type="save" dir="oai" suffix=".xml"/>-->
      <!--<action type="split"/>-->
      <!--<action type="save" dir="rec" suffix=".xml"/>-->
      <!--<action type="strip"/>-->
      <!--<action type="save" dir="isebel" suffix=".xml"/>-->
    <!--</format>-->
    <!--<format match="namespace" value="http://www.isebel.eu/ns/isebel">-->
      <!--<action type="save" dir="oai" suffix=".xml"/>-->
      <!--<action type="split"/>-->
      <!--<action type="save" dir="rec" suffix=".xml"/>-->
      <!--<action type="strip"/>-->
      <!--<action type="save" dir="isebel" suffix=".xml"/>-->
    <!--</format>-->
    <format match="prefix" value="oai_dc">
      <action type="save" dir="oai" suffix=".xml"/>
      <action type="split"/>
      <action type="save" dir="rec" suffix=".xml"/>
      <action type="strip"/>
    </format>
    <!--<format match="namespace" value="http://www.isebel.eu/OAI/2.0/oai_isebel/">-->
      <!--<action type="save" dir="oai" suffix=".xml"/>-->
      <!--<action type="split"/>-->
      <!--<action type="save" dir="rec" suffix=".xml"/>-->
      <!--<action type="strip"/>-->
      <!--<action type="save" dir="isebel" suffix=".xml"/>-->
    <!--</format>-->
  </actions>

  <!-- ### list of providers ### -->
  <providers>
    <provider url="https://www.oai-pmh.centerdata.nl/lissdata/oai2.php" name="liss"/>
  </providers>
</config>
